version: '3'

services:
  web:
    image: nginx:alpine
    ports:
      - '80:80'
    volumes:
      - ./html:/usr/share/nginx/html
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
